/* src/App.css */
:root {
  --calculator-bg: #fff;
  --button-bg: #e0e0e0;
  --button-color: #000;
  --button-hover-bg: #d0d0d0;
  --history-bg: #f8f8f8;
  --history-color: #333;
  --history-border: #ccc;
}

.dark-mode {
  --calculator-bg: #333;
  --button-bg: #555;
  --button-color: #fff;
  --button-hover-bg: #666;
  --history-bg: #444;
  --history-color: #fff;
  --history-border: #666;
}

.light-mode {
  --calculator-bg: #fff;
  --button-bg: #e0e0e0;
  --button-color: #000;
  --button-hover-bg: #d0d0d0;
  --history-bg: #f8f8f8;
  --history-color: #333;
  --history-border: #ccc;
}

body {
  background-color: var(--calculator-bg);
  color: var(--button-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

button {
  transition: background-color 0.5s, color 0.5s;
}

.app {
  text-align: center;
  padding: 50px;
}

header {
  margin-bottom: 20px;
}

header button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-color);
  transition: background-color 0.5s, color 0.5s;
}

header button:hover {
  background-color: var(--button-hover-bg);
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Space between the calculator and history */
}

.calculator {
  background-color: var(--calculator-bg);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.calculator__history {
  background-color: var(--history-bg);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid var(--history-border);
}

.calculator__history-item {
  margin-bottom: 10px;
  color: var(--history-color);
}

.calculator__display {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator__keys button {
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-color);
  transition: background-color 0.5s, color 0.5s;
}

.calculator__keys button:hover {
  background-color: var(--button-hover-bg);
}

.history {
  background-color: var(--history-bg);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 500px;
  overflow-y: auto;
}

.history__item {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--history-color);
}

.history__clear {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--button-bg);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.history__clear:hover {
  background-color: var(--button-hover-bg);
}
